{{define "layout"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/settings.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link rel="icon" href="/images/favicon.ico" />
    <title>ChatApp</title>
  </head>
  <body>
    <div class="l-app">
      <!-- header -->
      {{template "header" .}}

      <!-- main -->
      <main class="l-main">{{template "content" .}}</main>

      <!-- footer -->
      {{template "footer" .}}
    </div>
    <script src="/js/layout.js"></script>
  </body>
</html>
{{end}}
